<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
</head>
<template id="child">
    <div>
        <span>我是子组件</span>
        <input type="button" v-on:click="change" value="change" />
        {{msg}}===>{{b}}
    </div>
</template>

<body>
    <div id="app">
    	{{a}}
        <child-com :msg="a"></child-com>
    	}
    </div>
    <script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            a: "我是父组件的数据"
        },
        components: {
            'child-com': {
                data() {
                    return {
                        b: ""
                    }
                },
                mounted(){
                	this.b=this.msg;
                },
                props: ['msg'],
                template: "#child",
                methods: {
                    change() {
                       this.b="被更改了";
                    }
                }
            }
        },
        methods: {

        }
    });
    </script>
</body>

</html>